mixin cover(image, title, description, link, category)
    div.col.s12.m6.l3
        a(href=link)
            div.card.card-medium.hoverable.card-article
                div.card-image
                    if(image !== undefined)
                        img.responsive-img(src=image)
                    else
                        img.responsive-img(src='/media/no-cover.jpg')
                div.card-content
                    p.truncate=title
                div.card-action
                    a(href=link) Lire
                    if category !== undefined
                        div.right
                            span.new.badge(data-badge-caption=category)
